<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Bootstrap Components</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <style>
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  } 
  </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">NBA Stats History</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Top Players by PER 
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="playerPage?name=Michael%20Jordan">1. Michael Jordan</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="playerPage?name=LeBron%20James">2. LeBron James</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="playerPage?name=Anthony%20Davis">3. Anthony Davis</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="playerPage?name=Shaquille%20O%27Neal">4. Shaquille O'Neal</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="playerPage?name=David%20Robinson">5. David Robinson</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="playerPage?name=Wilt%20Chamberlain">6. Wilt Chamberlein</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="playerPage?name=Bob%20Pettit">7. Bob Pettit</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="playerPage?name=Kevin%20Durant">8. Kevin Durant</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="playerPage?name=Chris%20Paul">9. Chris Paul</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="playerPage?name=James%20Harden">10. James Harden</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="playerPage?name=Neil%20Johnston">11. Neil Johnston</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="playerPage?name=Charles%20Barkley">12. Charles Barkley</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="playerPage?name=Kareem%20Abdul%2DJabbar">13. Kareem Abdul-Jabbar</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="playerPage?name=Tim%20Duncan">14. Tim Duncan</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="playerPage?name=Magic%20Johnson">15. Magic Johnson</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <h1 style='text-align: center;'>{{d.Name}}</h1>
      <center><iframe width="1120" height="630" src={{d.Link}} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
      <h3 style='text-align: center;'>Position: {{d.Pos[0]}}</h3>
      <h3 style='text-align: center;'>
        Career Data: {{d.Year[0]}} - <span id='career'></span>
      </h3>
      <h3 style='text-align: center;'>
        Age Data: {{d.Age[0]}} - <span id='oldest'></span>
      </h3>

      <canvas id="ptsChart"></canvas>
      <canvas id="pfChart"></canvas>
      <canvas id="tovChart"></canvas>
      <canvas id="blkChart"></canvas>
      <canvas id="stlChart"></canvas>
      <canvas id="orbChart"></canvas>
      <canvas id="drbChart"></canvas>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>   

<script>

    var years = {{d.Year}};
    var lastYear = years[years.length-1];
    document.querySelector('#career').innerHTML = lastYear;
    var ages = {{d.Age}};
    var lastAge = ages[ages.length-1];
    document.querySelector('#oldest').innerHTML = lastAge; 

    var pts = document.getElementById('ptsChart').getContext('2d');
    var chart = new Chart(pts, {
        // The type of chart we want to create
        type: 'line',
        // The data for our dataset
        data: {
            labels: {{d.Year}},
            datasets: [{
                label: 'Points Scored',
                backgroundColor: 'rgb(0, 63, 92)',
                borderColor: 'rgb(0, 63, 92)',
                data: {{d.PTS}}
            }]
        },

        // Configuration options go here
        options: {}
    });    
    var pf = document.getElementById('pfChart').getContext('2d');
    var chart = new Chart(pf, {
        // The type of chart we want to create
        type: 'line',
        // The data for our dataset
        data: {
            labels: {{d.Year}},
            datasets: [{
                label: 'Personal Fouls',
                backgroundColor: 'rgb(55, 76, 128)',
                borderColor: 'rgb(55, 76, 128)',
                data: {{d.PF}}
            }]
        },

        // Configuration options go here
        options: {}
    });     
    
    var tov = document.getElementById('tovChart').getContext('2d');
    var chart = new Chart(tov, {
        // The type of chart we want to create
        type: 'line',
        // The data for our dataset
        data: {
            labels: {{d.Year}},
            datasets: [{
                label: 'Turnovers',
                backgroundColor: 'rgb(122, 81, 149)',
                borderColor: 'rgb(122, 81, 149)',
                data: {{d.TOV}}
            }]
        },

        // Configuration options go here
        options: {}
    });  

    var blk = document.getElementById('blkChart').getContext('2d');
    var chart = new Chart(blk, {
        // The type of chart we want to create
        type: 'line',
        // The data for our dataset
        data: {
            labels: {{d.Year}},
            datasets: [{
                label: 'Blocks',
                backgroundColor: 'rgb(188, 80, 144)',
                borderColor: 'rgb(188, 80, 144)',
                data: {{d.BLK}}
            }]
        },

        // Configuration options go here
        options: {}
    }); 

    var stl = document.getElementById('stlChart').getContext('2d');
    var chart = new Chart(stl, {
        // The type of chart we want to create
        type: 'line',
        // The data for our dataset
        data: {
            labels: {{d.Year}},
            datasets: [{
                label: 'Steals',
                backgroundColor: 'rgb(239, 86, 117)',
                borderColor: 'rgb(239, 86, 117)',
                data: {{d.STL}}
            }]
        },

        // Configuration options go here
        options: {}
    }); 

    var orb = document.getElementById('orbChart').getContext('2d');
    var chart = new Chart(orb, {
        // The type of chart we want to create
        type: 'line',
        // The data for our dataset
        data: {
            labels: {{d.Year}},
            datasets: [{
                label: 'Offensive Rebounds',
                backgroundColor: 'rgb(255, 118, 74)',
                borderColor: 'rgb(255, 118, 74',
                data: {{d.ORB}}
            }]
        },

        // Configuration options go here
        options: {}
    }); 

    var drb = document.getElementById('drbChart').getContext('2d');
    var chart = new Chart(drb, {
        // The type of chart we want to create
        type: 'line',
        // The data for our dataset
        data: {
            labels: {{d.Year}},
            datasets: [{
                label: 'Defensive Rebounds',
                backgroundColor: 'rgb(255, 166, 0)',
                borderColor: 'rgb(255, 166, 0)',
                data: {{d.DRB}}
            }]
        },

        // Configuration options go here
        options: {}
    }); 
</script>

</body>
</html>